body {
  background-color: white;
}

.App .small-value{
  display: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}
.Banner-Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 16vh;
}

.Banner-Content-Title {
  font-size: 7vh;
  font-weight: bold;
}
.Banner-Content-Title > span:nth-child(2) {
  color: #1e60e5;
}

.Banner-Small-Title {
  font-size: 10vw;
}

.Banner-Content > p {
  font-size: 1.8vh;
  color: #2c2e32;
  margin-top: 1vh;
}
.Banner-Small-Content > p {
  font-size: 3vw;
}
.Banner-App {
  width: 33vh;
  height: 48vh;
  background-image: url(../img/home/banner_app.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.small-app {
  width: 65vw;
}

.Header > .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.Header > .logo > img {
  margin-left: 5vw;
  height: 4vh;
}

.Banner {
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-image: url(../img/home/banner_bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-position: center;
}

.value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 120px; */
  padding-top: 13vh;
  width: 80%;
}
.value-container > p {
  font-size: 5vh;
  font-weight: 600;
  color: #2c2e32;
}
.value-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9vh;
  width: 100%;
  margin-bottom: 15vh;
}

.small-values {
  width: 100%;
  margin-top: 5vh;
}
.small-values:nth-of-type(2) {
  margin-top: 0px;
}
.small-values:nth-of-type(1) {
  margin-bottom: 40px;
}

.value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32vh;
  width: 17vw;
}

.value-line {
  background-color: #eaeaea;
  height: 1px;
  width: 100%;
}
.value-item > img {
  width: 12vh;
  height: 12vh;
}
.value-item > p:first-of-type {
  padding-top: 0.5vh;
  color: #2c2e32;
  font-weight: bold;
}
.value-item > p:last-of-type {
  padding-top: 1.6vh;
  color: #2c2e32;
}

.record-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh;
}
.record-container > p:first-of-type {
  /* font-size: 5.3vh; */
  color: #2c2e32;
  font-weight: 600;
}

.record-container > p:nth-child(2) {
  /* font-size: 1.8vh; */
  color: #2c2e32;
  max-width: 40vh;
  margin-top: 4.1vh;
  line-height: 2.4vh;
}
.record-container > img {
  width: 100%;
  margin-top: 5.5vh;
}
.small-container > img {
  width: 90%;
  margin-bottom: 30px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f8fc;
  padding-top: 13vh;
}
.data-container > p:first-of-type {
  /* font-size: 5.2vh; */
  color: #2c2e32;
  font-weight: 600;
}

.data-container > p:nth-child(2) {
  /* font-size: 1.6vh; */
  color: #2c2e32;
  max-width: 40vh;
  margin-top: 4.2vh;
  line-height: 2.5vh;
}
.data-container > img {
  /* width:70% */
  width: 100%;
  margin-top: 5.5vh;
}
.small-container > img {
  width: 90%;
  margin-bottom: 30px;
}
.footer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer > img:first-child {
  margin-top: 23vh;
  width: 180px;
  margin-bottom: 18vh;
}

.footer > img:nth-of-type(2) {
  margin-top: 13vh;
  width: 100;
}
.footer > p:last-of-type {
  font-size: 1.4vh;
  font-weight: 600;
  color: #72767d;
}
.protocol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8vh;
  color: #45474a;
  font-weight: 600;
}

.protocol p {
  cursor: pointer;
}

.protocol > p:hover {
  color: black;
}
.protocol > p:nth-child(2) {
  padding-left: 18vw;
  padding-right: 18vw;
}
.footer-line {
  width: 100%;
  height: 1px;
  color: #eaeaea;
  margin-bottom: 6vh;
}

.light-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36vh;
}

.h1 {
  font-size: 5vh;
}
.sh1 {
  font-size: 8.7vw;
}

.h2 {
  font-size: 2.5vh;
  font-weight: bold;
}
.sh2 {
  font-size: 4.3vw;
}

.h3 {
  font-size: 1.7vh;
}
.sh3 {
  font-size: 2.8vw;
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (max-width: 1199px) and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

/* 小屏幕（平板，大于等于 576px） */
@media (max-width: 767px) and (min-width: 576px) {
  html {
    font-size: 10px;
  }
}

/* 超小屏幕（手机，小于 576px） */
@media (max-width: 575px) {
  .App {
    .Banner-Content-Title span {
      font-size: 10vw;
    }
    .Banner {
      height: 85vh;
    }
    .value-item{
      width: 20vh;
    }
    .small-value{
      display: block;
      margin: 0px;
    }
    .big-value{
      display: none;
    }
    .value-items:first-child{
      margin-bottom: 0px;
    }
    .value-items:last-child{
      margin-top: 40px;
    }
    .record-container > img{
      width: 100%;
    }
    .data-container > img{
      width: 100%;
    }
  }
}