.pagebox {
  height: 100vh;
  width: 740px;
  margin: 0 auto;
  padding-top: 96px;
  transform: translateX(120px);
}

.pagebox h1 {
  margin-bottom: 15px;
  font-size: 40px;
}

.pagebox h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  font-size: 24px;
}

.pagebox h3.active {
  color: #4772fa;
}

.pagebox p {
  line-height: 28px !important;
  margin-bottom: 20px;
  color: rgba(25, 25, 25, 0.8);
  font-size: 16px !important;
}

.pageBackground img {
  width: 750px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.ScrollBar {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 80px;
  right: 100px;
  transition: all 0.5s ease-in-out;
}

.ScrollBox {
  padding: 0px;
  margin: 0px;
}

.ScrollBox p {
  font-size: 14px;
  padding-bottom: 10px;
  margin: 0px;
}

.ScrollBox li {
  display: block;
  /* height: 30px; */
  /* line-height: 30px; */
  padding: 5px 0px;
  list-style: none;
  font-size: 12px;
  padding-left: 25px;
  cursor: pointer;
  border-left: 2px solid rgba(25, 25, 25, 0.05);
  transition: all 0.5s ease-in-out;
}

.ScrollBox .active {
  border-left: 2px solid #4772fa;
  color: #4772fa;
}

.joinApp {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.joinApp button {
  width: 100px;
  height: 30px;
  border-radius: 25px;
  border: none;
  background-color: #999;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.joinApp button:hover {
  background-color: #3eaf7c;
}

.pagelink {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  color: #1e60e5;
  font-weight: 500;
}

.pagelink svg {
  width: 20px;
  height: 20px;
  color: #1e60e5;
  /* 垂直居中 */
  display: inline-block;
  vertical-align: middle;
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {

}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (max-width: 1199px) and (min-width: 768px) {
}

/* 超小屏幕（手机，小于 576px） */
@media (max-width: 768px) {
  .pagebox {
    width: 100%;
    transform: translateX(0px);
    padding: 0px 24px;
    padding-top: 86px;
  }

  .pagebox h1 {
    margin-bottom: 10px;
    font-size: 48px;
  }

  .pagebox h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
  }

  .pagebox h3.active {
    color: #4772fa;
  }

  .pagebox p {
    line-height: 30px;
    margin-bottom: 20px;
    color: rgba(25, 25, 25, 0.8);
    font-size: 14px;
  }

  .pageBackground img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .pagelink{
    font-size: 14px;
    font-weight: 500;
  }
}